body {
    width: 100vw;
    height: 100vh;
    padding: 0px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
}

.title {
    font-family: monospace;
    font-size: 50px;
    margin-top: 35px;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(66, 66, 66);
}


.topBar {
    width: 100vw;
    height: 30px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgb(207, 224, 247);
    display: flex;
    justify-content: left;
    align-items: center;
}

.topBar button {
    width: 70px;
    height: 20px;
    margin-left: 5px;
    font-family: arial;
    cursor: pointer;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    background-color: white;
}

.topBar button:hover {
    background-color: rgb(233, 229, 229);
}

#codeDotRrgIFrame {
    margin: 0 auto;
    margin-left: calc((100vw / 2) - 200px);
    width: 400px;
    height: 620px;
    background-color: #5c6971;
    border: none;
    border-radius: 10px;
}