body {
    width: 100vw;
    height: 100vh;
    padding: 0px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
}

.title {
    font-family: monospace;
    font-size: 50px;
    margin-top: 35px;
    margin-bottom: 10px;
    text-align: center;
    color: rgb(66, 66, 66);
}


.topBar {
    width: 100vw;
    height: 30px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgb(207, 224, 247);
    display: flex;
    justify-content: left;
    align-items: center;
}

.topBar button {
    width: 70px;
    height: 20px;
    margin-left: 5px;
    font-family: arial;
    cursor: pointer;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    background-color: white;
}

.topBar button:hover {
    background-color: rgb(233, 229, 229);
}

.codeDotOrgArea {
    background-color: rgb(223, 236, 248);
    position: relative;
    width: 960px;
    border-radius: 10px;
    margin: 0 auto;
    padding-right: 30px;
}

.codeDotOrgFrameWrapper {
    margin-left: 0px;
    margin-top: 0px;
    position: relative;
    width: 400px;
    height: 620px;
    background-color: rgb(223, 236, 248);
    border: none;
    border-radius: 10px;
}

.codeDotOrgFrameCover1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 67px;
    background-color: rgb(223, 236, 248);
    border-radius: 10px;
    z-index: 2;
}

.codeDotOrgFrameCover2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 104px;
    background-color: rgb(223, 236, 248);
    border-radius: 10px;
    z-index: 2;
}

.codeDotOrgFrameCover3 {
    position: absolute;
    left: 0;
    top: 0;
    width: 35px;
    height: 100%;
    background-color: rgb(223, 236, 248);
    border-radius: 10px;
    z-index: 2;
}

.codeDotOrgFrameCover4 {
    position: absolute;
    right: 0;
    top: 0;
    width: 43px;
    height: 100%;
    background-color: rgb(223, 236, 248);
    border-radius: 10px;
    z-index: 2;
}

#codeDotRrgIFrame {
    position: absolute;
    top: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 1;
}

#sourceCodeDisplay {
    width: 550px;
    height: 500px;
    border-style: solid;
    border-radius: 0px;
    border-color: gray;
    border-width: 1px;
}

.codeArea {
    display: revert;
    position: absolute;
    height: 510px;
    right: 0px;
    top: 28px;
    right: 30px;
}

.codeArea P {
    font-family: arial;
    margin-bottom: 5px;
}